h1{
text-align: center;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 64px;
line-height: 75px;
}
.container{
	width:400px;
	height:200px;
	padding:20px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -220px;
}
.box{
	
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	
}
.buat{
	text-align: center;
	vertical-align: middle;
	
}
form{
	margin: 50px auto;
	width: 400px;

	
}
.garis{

width: 1000px;
height: 0px;
left: 50px;
top: 512px;
margin-top: -30px;
margin-left: 180px;
border: 1px solid #000000;
}
.text{
	text-align: left;
	margin-top: -190px;
	margin-left: -200px;
	padding: 20px;
}
p{
	text-align: left;
	margin-top: 200px;
	margin-left: 180px;
}